.heroCont {
  height: 100vh;
  width: 100%;
  padding: 0 0 30vh 0;
  overflow: hidden;
}

.hero {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.principiosHeader {
  display: flex;
  justify-content: center;
  padding-bottom: 4vh;
  font-size: 2em;
  
}

.principiosHeader h3 {
  color: black;
}

.contPrincipios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 20vh;
  margin-left: 2%;
  padding: 0 0 50vh 0;
}
.principios {
  opacity: 0.75;
  transition: 1s ease;
  padding: 0 4% 0 4%;
  width:80%;
  cursor: pointer;
}

.principios:hover {
  width: 85%;
  opacity: 1;
  transition: 1s ease;
}

.videoArea {
  border-radius: 20px;
  background-color: rgb(242, 242, 242);
  width: 92%;
  padding: 4vh 0 10vh 0;
  margin-left: 4%;
}

.videoCont {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 0 0 0 0;
  margin: 0 20% 0vh 20%;
}

.tituloPredica, .fechaPredica, .descripcionPredica  {
  color: black;
  padding-left: 5%;
}

.serviciosSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 20vh 0 20vh 0;
  margin: 0 0 0 4%;
}
.serviciosSection h3 {
  color: black;
  font-size: 2em;
}

.serviciosSection p {
  color: black;
  font-size: 1em;
}

.serviciosSection div {
  display: flex;
}

.serviciosWrapper {
  display: flex;
  justify-content: center;
  border-radius: 25px;
  border: 1px gray solid;
  background: white;
  width: 25%;
  height: 35vh;
  background-repeat: no-repeat;
  margin: 5vh 0 0 2%;
}

.serviciosWrapper div {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  margin: 2vh 0 0 0;
  font-weight: 800;
  color: rgb(25, 25, 112);
}

.serviciosWrapper h3 {
  color: rgb(25, 25, 112);
  font-size: 1em;
}

.infoCont {
  width: 25% !important;
  height: auto !important;
  padding: 2% 5% 5% 5%;
  background: #AFDBF5;
}
.info {
  width: 20%;
  height: auto;
  
}

.serviciosWrapper:nth-of-type(3) > div > p {
  margin-top: 12%;
} 
.serviciosWrapper:nth-of-type(3) > .info {
  padding-top: 10%;
}