.details {
    display: flex;
    cursor: pointer;
}

.feature {
  height: 2vh;
}



.info {
    display: flex;
}

.modalOverlay {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  height: 50%;
  /*background: rgba(0,0,0,0.6);*/
  display: flex;
  justify-content: center;
  z-index: 9999;
}

.modalContent {
  display: grid;
  grid-template-columns: 40% 40% 20%;
  background-color: rgb(173, 216, 230);
  padding: 2rem;
  border-radius: 10px;
  /*max-width: 600px;*/
  width: 70%;
}
.cerrar {
  color: black;
  font-weight: 800;
  background-color: rgb(206, 218, 219);
  height: 3vh;
  width: 15%;
  border-radius: 80%;
  justify-self: end;
}

.featuredImg {
  size: 10%;
}

.modalInfo {
  justify-self:center;
  padding-left: 10%;
}


